<h3>Todo#<%= params[:id ]%></h3>

  <h1><%= @todo.description %></h1>
  <span class= "pomodoro-estimate" large-pomodoro-estimate"><%= @todo.pomodoro_estimate %>pomodoros</span>
   <a href="#">Edit</a>

    <a href="#">Delete</a>

   <a href="index.html">go back...</a>